## Números en Python

Python proporcona tres tipos de números: enteros, coma flotante y complejos.

In [1]:
2+3

5

In [2]:
2*3

6

In [3]:
2**3

8

In [4]:
2**200

1606938044258990275541962092341162602522202993782792835301376

In [5]:
15/7

2.142857142857143

In [9]:
15//6

2

In [8]:
15%6

3

## Boolean

In [7]:
type(True)

bool

In [8]:
type(False)

bool

In [9]:
True or False

True

In [10]:
True and False

False

In [11]:
not False

True

In [12]:
2<4

True

In [13]:
2<=2

True

In [14]:
2 ==2

True

In [15]:
2!=2

False

In [16]:
[2,3] == [3,3]

False

In [17]:
[2,3] == [2,3]

True

In [18]:
[2,3] is [2,3]

False

Cuando las listas son idénticas en contenido, el resultado de igualar es True. Pero si lo que preguntamos es que si son el mismo objeto, usando is, nos sale false

## Secuencias. 

En Python, una secuencia es una coleción de objetos ordenados por su posición. Hay tres secuencias básicas:
$$
Listas (lists) \\
Tuplas (tuples) \\
range-objects  \\
$$

Por una parte tendrán los métodos y propiedades de las secuencias, pero además tendrán otras propiedades de cada tipo de secuencia.

Como las secuencas están ordenadas, podremos llamar a cada elemento de la secuencia por su índice, comenzando en cero [0].

Podemos recorrer la secuencia de derecha a izquierda empezando con el [-1].

Y por último tiene la propiedad de "slicing", que es coger un subconjunto de la secuencia. El primer número se incluye pero el último, no.

### Listas.

Las listas son secuencias mutables de objetos de cualquier tipo. Se usan típicamente para almacenar objetos homogeneos

In [19]:
numbers = [2,4,6,8]

In [20]:
numbers[0]

2

In [21]:
numbers[-1]

8

In [22]:
numbers[0:2]

[2, 4]

In [23]:
numbers.append(10)

In [24]:
numbers

[2, 4, 6, 8, 10]

## Tuplas

In [25]:
T=(1,3,5,7)

In [26]:
type(T)

tuple

In [27]:
len(T)

4

In [28]:
T + (9,11)

(1, 3, 5, 7, 9, 11)

In [29]:
T[1]

3

In [30]:
x=30.5
y=10.3

In [31]:
coordinate = (x,y)

In [32]:
type(coordinate)

tuple

In [33]:
coordinate

(30.5, 10.3)

In [34]:
(c1,c2)=coordinate

In [35]:
c1

30.5

In [36]:
c2

10.3

## Ranges

In [37]:
range(5)

range(0, 5)

In [38]:
list(range(5))

[0, 1, 2, 3, 4]

In [39]:
list(range(1,13,2))

[1, 3, 5, 7, 9, 11]

## Strings

In [40]:
S = "Python"

In [41]:
len(S)

6

In [42]:
S[0]

'P'

In [43]:
S[-1]

'n'

In [44]:
S[0:3]

'Pyt'

In [45]:
S[-3:]

'hon'

In [46]:
"y" in S

True

In [47]:
S + " es el mejor"

'Python es el mejor'

In [48]:
3*S

'PythonPythonPython'

In [49]:
"ocho es igual a " + 8

TypeError: can only concatenate str (not "int") to str

In [50]:
"ocho es igual a " + str(8)

'ocho es igual a 8'

In [51]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [52]:
name = "Michael Burnham"

In [53]:
name.replace('M','m')

'michael Burnham'

In [54]:
names = name.split(' ')

In [55]:
type(names)

list

In [56]:
names[0]

'Michael'

In [57]:
type(names[1])

str

In [58]:
names[0].upper()

'MICHAEL'

In [59]:
names[1].lower()

'burnham'

## Bucles

Para lo que más se usan los rangos es para crear bucles. 
La sintaxis es 

for (variable) in (secuencia):

    bloque de ejecución (tabulado)
    
(Fin de la ejecución)

Recordad que todo lo que queramos que se ejecute en el bucle debe ir tabulado

In [10]:
names=['Luke','Han','Leia']

In [11]:
for name in names:
    print(name)

Luke
Han
Leia

In [12]:
for indice in range(1,13,2):
    print(indice)

1
3
5
7
9
11

## Functions

vamos a ver como se definnen las funciones en Python. Nos van a servir para agrupar procedimientos y no tener que repetirlas un gran número de veces.

In [13]:
def add(a,b):
    my_sum = a + b
    
    return my_sum

In [14]:
add(2,3)

5

Las variables que se definen dentro de una función por definición son locales,

In [15]:
def add_and_sub(a,b):
    mysum = a + b
    mydiff = a - b
    return (mysum,mydiff)

In [16]:
add_and_sub(12,20)

(32, -8)

In [17]:
def intersec(s1,s2):
    res = []
    for x in s1:
        if x in s2:
            res.append(x)
            
    return res

In [18]:
intersec([1,2,3,4,5],[3,4,5,6,7])

[3, 4, 5]

### función para escribir un password

Hagamos ahora otra función que por ejemplo nos escriba un password.
Para ello voy a importar una librería que se llama random

In [19]:
import random

In [20]:
random.choice([1,2,3,4,5])

2

In [21]:
random.choice("abcdefg")

'g'

In [22]:
#length = 4
pp = ""
characters="abcdef"
for i in range(len(characters)):
        pp = pp + random.choice(characters)
        
print(pp)

ebabba

In [23]:
def password(length):
    pw = str()
    characters="abcdef" + "0123456789"
    for i in range(length):
        pw = pw + random.choice(characters)
        
    return pw

In [25]:
password(5)

'4f8c7'

In [26]:
def C2K(temp):
    """Función que calcula los grados kelvin, 
    cuando metemos grados centígrados"""
    kelvin = temp + 273
    return kelvin

In [27]:
C2K(10)

283

In [28]:
help(C2K)

Help on function C2K in module __main__:

C2K(temp)
    Función que calcula los grados kelvin,
    cuando metemos grados centígrados

In [29]:
C2K?